<div class="card">
    <div class="card-header ">
        <div class="row ">
            <div class="col-8 ">
                <h5 class="mb-0">
                    <button class="btn btn-link">Do Blazor App</button>
                </h5>
            </div>
            <div class="col-1">
                <button class="btn btn-link">
                    <span class="oi oi-pencil"></span>
                </button>
            </div>
            <div class="col-1">
                <button class="btn btn-link">
                    <span class="oi oi-x"></span>
                </button>
            </div>
            <div class="col-1">
                <button class="btn btn-link">
                    <span class="oi oi-eye"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">Dummy content</div>
    </div>
</div>


@code {

}