@page "/"

<PageTitle>Todo App</PageTitle>

<div class="navbar-nav align-items-center m-3">
    <div class="col">
        <button type="button" class=" btn btn-primary px-sm-4 m-1 align-content-center">Add item</button>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header ">
            <div class="row ">
                <div class="col-8 ">
                    <h5 class="mb-0">
                        <button class="btn btn-link">Do Blazor App</button>
                    </h5>
                </div>
                <div class="col-1">
                    <button class="btn btn-link">
                        <span class="oi oi-pencil"></span>
                    </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-link">
                        <span class="oi oi-x"></span>
                    </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-link">
                        <span class="oi oi-eye"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">Dummy content</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header ">
            <div class="row ">
                <div class="col-8 ">
                    <input type="text" placeholder="Title" class="form-control" _bl_10f627d4-53ff-4296-9ef8-a37e888bee25="">
                </div>
                <div class="col-1">
                    <button class="btn btn-link">
                        <span class="oi oi-pencil"></span>
                    </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-link">
                        <span class="oi oi-collapse-down"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <textarea id="exampleFormControlTextarea1" rows="3" class="form-control" _bl_729f9d20-e112-48a4-963d-5b74e32eae12=""></textarea>
            </div>
        </div>
    </div>
</div>